<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About FZTH</a></li>
    <li class="nav-blockchain" role="menuitem"><a href="{{site.baseurl}}tag/blockchain/">blockchain</a></li>
    <li class="nav-tech" role="menuitem"><a href="{{site.baseurl}}tag/tech/">tech</a></li>
    <li class="nav-industry" role="menuitem"><a href="{{site.baseurl}}tag/industry/">industry</a></li>
    <li class="nav-post" role="menuitem"><a href="https://pse.is/MSBZ8">分享文章</a></li>
    <li class="nav-facebook" role="menuitem"><a href="https://www.facebook.com/fzthblockchain">Facebook</a></li>
    <li class="nav-github" role="menuitem"><a href="https://github.com/FZTH-Blockchain">Github</a></li>
</ul>
